$header-background-color: #1c1c1c;
$white-text-color: #ffffff;

@mixin flexBox($direction: row, $justify: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: center;
}

@mixin gridTemplate($amount, $size: 1fr, $justify: center, $align: center) {
  display: grid;
  grid-template-columns: repeat($amount, $size);
  justify-content: $justify;
  align-items: $align;
}

@mixin fontFamily($fontname, $fontweight, $fontsize) {
  font-family: $fontname;
  font-weight: $fontweight;
  font-size: $fontsize;
}

@keyframes navbarSlidedown {
  0% {
    top: 9%;
  }
  50% {
    top: 11%;
  }
  100% {
    top: 10%;
  }
}

.main-container {
  background: #2c2c2c;
  .main-header {
    padding: 0rem 0.6rem;
    @include flexBox(row, space-between);
    gap: 0.5rem;
    color: $white-text-color;
    background: $header-background-color;

    .header-container {
      @include flexBox(row, center);
      gap: 0.5rem;

      h1 {
        @include fontFamily("Rock Salt", 400, x-large);
      }

      img {
        width: 15vw;
        padding-bottom: 0.5rem;
      }
    }

    .main-nav {
      display: none;
    }

    .main-nav.show-nav {
      display: block;
      animation: navbarSlidedown 0.5s 1 forwards ease-in-out;
      position: absolute;
      top: 10%;
      left: 50%;
      transform: translate(-50%);
      width: 100%;
      height: 30%;
      background: $header-background-color;

      ul {
        @include flexBox(column, center);
        gap: 0.5rem;
        padding: 0;

        li {
          list-style-type: none;

          a {
            @include fontFamily("Roboto Mono", 800, 18px);
            text-decoration: none;
            color: $white-text-color;
          }
        }
      }
    }

    #hamburger {
      display: block;

      .bar {
        display: block;
        margin: 5px 8px;
        width: 20px;
        height: 8px;
        background: $white-text-color;
        border-radius: 6px;
      }
    }
  }

  #app {
    @include flexBox(column, center);
    .landing-hero-figure {
      img {
        width: 80vw;
      }
    }

    .bullets-container {
      @include flexBox(row, center);
      gap: 0.6rem;
      padding-bottom: 0.6rem;

      .figure-bullets {
        padding: 0.1rem 0.4rem;
        color: transparent;
        border-radius: 100%;
        border: 0;
        background: #ffffff99;
      }
    }

    .band-container {
      @include flexBox(column, center);
      display: flex;
      color: $white-text-color;
      padding: 0rem 0.6rem;
      background-image: url(../img/Video.gif);
      background-repeat: no-repeat;
      background-size: cover;

      header {
        h2 {
          @include fontFamily("Rock Salt", 400, x-large);
        }
      }

      .about-The-Grateful {
        p:first-of-type {
          margin-top: 0;
        }
        p {
          font-family: "Roboto Mono";
        }
      }

    }

    .band-article {
      @include gridTemplate(1, 1fr, center, center);
      gap: 0.5rem;
      color: $white-text-color;

      header {
        padding-top: 0.8rem;
        text-align: center;

        h2 {
          margin: 0;
          font-family: "Rock Salt";
        }
      }
      figure {
        img {
          width: 100%;
        }

        h3 {
          font-family: "Roboto Mono";
        }
      }
    }
  }

  .main-footer {
    @include flexBox(column, center);
    background: $header-background-color;
    color: $white-text-color;

    figure {
      figcaption {
        header {
          h2 {
            text-align: center;
            @include fontFamily("Rock Salt", 400, x-large);
          }
        }
      }
    }
  }
}
