$header-background-color: #1c1c1c;

.main-container {
    background: #2c2c2c;
    .main-header {
        padding: 0rem 0.6rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 0.5rem;
        color: #fff;
        background: $header-background-color;

        .header-container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 0.5rem;

            img {
                width: 15vw;
                padding-bottom: 0.5rem;
            }
        }

        .main-nav {
            display: none;
        }

        #hamburger {
            display: block;

            .bar {
                display: block;
                margin: 5px 8px;
                width: 20px;
                height: 8px;
                background: #fff;
                border-radius: 6px;
            }
        }
    }

    #app {
        .landing-hero-figure {
            img {
                width: 80vw;
            }
        }
    }
}