@use "../helpers/variables";
@use "../helpers/mixins";
@use "../helpers/functions" as *;

.main-footer {
  @include mixins.flexBox(column, center);
  background: variables.$header-background-color;
  color: variables.$white-text-color;

  figure {
    @include mixins.flexBox(column, center);
    .band-logo {
      animation: logoRotate 4s forwards infinite linear;
      width: 80%;

      @media (min-width: 1300px) {
        width: 20%;
      }
    }
    figcaption {
      header {
        h2 {
          text-align: center;
          @include mixins.fontFamily("Rock Salt", 400, x-large);
        }
      }

      #so-me {
        @include mixins.gridTemplate(4, 1fr, center, center);

        img {
          filter:saturate(1);
          width: 15vw;
          filter: invert(20%);

          @media (min-width: 1300px) {
            width: 3vw;

            &:hover {
              cursor: pointer;
              scale: 1.1;
              background: variables.$white-text-color;
              border-radius: 9px;
            }
          }
        }
      }
    }
  }
}
