@use "../helpers/variables";
@use "../helpers/mixins";

.main-header {
  padding: 0rem 0.6rem;
  @include mixins.flexBox(row, space-between);
  gap: 0.5rem;
  color: variables.$white-text-color;
  background: variables.$header-background-color;

  .header-container {
    @include mixins.flexBox(row, center);
    gap: 0.5rem;

    h1 {
      @include mixins.fontFamily("Rock Salt", 400, x-large);
    }

    .header-logo {
      width: 15vw;
      padding-bottom: 0.5rem;
    }
  }

  .main-nav {
    display: none;
  }

  .main-nav.show-nav {
    display: block;
    animation: navbarSlidedown 0.5s 1 forwards ease-in-out;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    height: 30%;
    background: variables.$header-background-color;

    ul {
      @include mixins.flexBox(column, center);
      gap: 0.5rem;
      padding: 0;

      li {
        list-style-type: none;

        a {
          @include mixins.fontFamily("Roboto Mono", 800, 18px);
          text-decoration: none;
          color: variables.$white-text-color;
        }

        button {
          background: 0;
          border: 0;
          @include mixins.fontFamily("Roboto Mono", 800, 18px);
          color: variables.$white-text-color;
        }
      }
    }
  }

  #hamburger {
    display: block;

    .bar {
      display: block;
      margin: 5px 8px;
      width: 20px;
      height: 8px;
      background: variables.$white-text-color;
      border-radius: 6px;
    }

    .bar.burger-top {
      animation: burgerTop 0.5s 1 forwards ease-in-out;
    }
    .bar.burger-middle {
      animation: burgerMiddle 0.5s 1 forwards ease-in-out;
    }
    .bar.burger-bottom {
      animation: burgerBottom 0.5s 1 forwards ease-in-out;
    }
  }
}
