@import url(animations.css);
@import url(main.css);
@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");

body {
  margin: 0;
  padding: 0;
}

.main-container {
  margin: 0 auto;
  padding: 0;
  font-family: sans-serif, "Rock Salt", Arial, Helvetica;
}
