@keyframes navbarSlidedown {
  0% {
    top: 9%;
  }
  50% {
    top: 11%;
  }
  100% {
    top: 10%;
  }
}
@keyframes logoRotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(60deg);
  }
  80% {
    transform: rotate(-60deg);
  }
  100% {
    transform: rotate(5deg);
  }
}
.main-container {
  background: #2c2c2c;
}
.main-container .main-header {
  padding: 0rem 0.6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  color: #ffffff;
  background: #1c1c1c;
}
.main-container .main-header .header-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.main-container .main-header .header-container h1 {
  font-family: "Rock Salt";
  font-weight: 400;
  font-size: x-large;
}
.main-container .main-header .header-container .header-logo {
  width: 15vw;
  padding-bottom: 0.5rem;
  animation: logoRotate 5s forwards infinite ease-in-out;
}
.main-container .main-header .main-nav {
  display: none;
}
.main-container .main-header .main-nav.show-nav {
  display: block;
  animation: navbarSlidedown 0.5s 1 forwards ease-in-out;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  height: 30%;
  background: #1c1c1c;
}
.main-container .main-header .main-nav.show-nav ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0;
}
.main-container .main-header .main-nav.show-nav ul li {
  list-style-type: none;
}
.main-container .main-header .main-nav.show-nav ul li a {
  font-family: "Roboto Mono";
  font-weight: 800;
  font-size: 18px;
  text-decoration: none;
  color: #ffffff;
}
.main-container .main-header .main-nav.show-nav ul li button {
  background: 0;
  border: 0;
  font-family: "Roboto Mono";
  font-weight: 800;
  font-size: 18px;
  color: #ffffff;
}
.main-container .main-header #hamburger {
  display: block;
}
.main-container .main-header #hamburger .bar {
  display: block;
  margin: 5px 8px;
  width: 20px;
  height: 8px;
  background: #ffffff;
  border-radius: 6px;
}
.main-container #app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-container #app .landing-hero-figure img {
  width: 80vw;
}
.main-container #app .bullets-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  padding-bottom: 0.6rem;
}
.main-container #app .bullets-container .figure-bullets {
  padding: 0.1rem 0.4rem;
  color: transparent;
  border-radius: 100%;
  border: 0;
  background: rgba(255, 255, 255, 0.6);
}
.main-container #app .band-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  color: #ffffff;
  padding: 0rem 0.6rem;
  background-image: url(../img/Video.gif);
  background-repeat: no-repeat;
  background-size: cover;
}
.main-container #app .band-container header h2 {
  font-family: "Rock Salt";
  font-weight: 400;
  font-size: x-large;
}
.main-container #app .band-container .about-The-Grateful p:first-of-type {
  margin-top: 0;
}
.main-container #app .band-container .about-The-Grateful p {
  font-family: "Roboto Mono";
}
.main-container #app .band-article {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: #ffffff;
}
.main-container #app .band-article header {
  padding-top: 0.8rem;
  text-align: center;
}
.main-container #app .band-article header h2 {
  margin: 0;
  font-family: "Rock Salt";
}
.main-container #app .band-article figure img {
  width: 100%;
}
.main-container #app .band-article figure h3 {
  font-family: "Roboto Mono";
}
.main-container #app .newsletter-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main-container #app .newsletter-container form fieldset {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background: #2c2c2c;
  border: 0;
  border: 4px solid #1c1c1c;
  border-radius: 10px;
  width: 70vw;
  font-family: "Roboto Neue";
  font-weight: 400;
  font-size: medium;
  color: #ffffff;
  text-align: center;
}
.main-container #app .newsletter-container form fieldset button {
  position: absolute;
  right: 0;
  top: 0;
  background: transparent;
  border: 0;
  color: #ffffff;
  font-size: 20px;
}
.main-container #app .newsletter-container form fieldset input {
  border-radius: 6px;
  border: 0;
  padding: 0.2rem 0.4rem;
}
.main-container #app .newsletter-container form fieldset .form-btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
}
.main-container #app .newsletter-container form fieldset .form-btn-container input {
  border-radius: 6px;
  padding: 0.4rem 0.6rem;
  border: 0;
  color: #ffffff;
  font-family: "Robot Neue";
  font-weight: 600;
  font-size: medium;
}
.main-container #app .newsletter-container form fieldset .form-btn-container input:first-of-type {
  background: green;
}
.main-container #app .newsletter-container form fieldset .form-btn-container input:last-of-type {
  background: red;
}
.main-container .main-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #1c1c1c;
  color: #ffffff;
}
.main-container .main-footer figure figcaption header h2 {
  text-align: center;
  font-family: "Rock Salt";
  font-weight: 400;
  font-size: x-large;
}
.main-container .main-footer figure figcaption #so-me {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
}
.main-container .main-footer figure figcaption #so-me img {
  width: 15vw;
}